body {
    text-align: center;
}

.frozen {
    background: linear-gradient(183deg, rgba(75, 212, 255, 1) 13%, rgba(48, 0, 241, 1) 100%);
}

.fc {
    height: 350px;
    width: 350px;
}

.img-responsive {
    height: 600px;
    width: 600px;
}

p {
    font-size: 20px;
    font-variant: small-caps;
}

.carousel-inner {
    padding: 35px;
    background: linear-gradient(180deg, rgba(29, 253, 235, 1) 0%, rgba(52, 14, 207, 1) 100%);
}

.g {
    font-size: 20px;
    font-variant: small-caps;
    font-weight: bold;
}

.gg {
    background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(255, 0, 168, 1) 50%, rgba(0, 212, 255, 1) 100%);
}
